* text=auto !eol
projects/orbittools/__init__.bat -text
projects/orbittools/_projects/__init__.bat -text
projects/orbittools/_projects/config.vars.in -text
projects/orbittools/_projects/config.yaml.in -text
projects/orbittools/_projects/configure.bat -text
projects/orbittools/_projects/git_repos.lst.in -text
projects/orbittools/config.vars.in -text
projects/orbittools/config.yaml.in -text
projects/orbittools/configure.bat -text
projects/orbittools/deploy/__init__.bat -text
projects/orbittools/deploy/config.vars.in -text
projects/orbittools/deploy/config.yaml.in -text
projects/orbittools/deploy/configure.bat -text
projects/orbittools/deploy/git_repos.lst.in -text
projects/orbittools/orbittools/__init__.bat -text
projects/orbittools/orbittools/config.vars.in -text
projects/orbittools/orbittools/config.yaml.in -text
projects/orbittools/orbittools/configure.bat -text
projects/orbittools/orbittools/git_repos.lst.in -text
projects/orbittools/qd/__init__.bat -text
projects/orbittools/qd/config.vars.in -text
projects/orbittools/qd/config.yaml.in -text
projects/orbittools/qd/configure.bat -text
projects/orbittools/qd/git_repos.lst.in -text
projects/orbittools/sgp4/__init__.bat -text
projects/orbittools/sgp4/config.vars.in -text
projects/orbittools/sgp4/config.yaml.in -text
projects/orbittools/sgp4/configure.bat -text
projects/orbittools/sgp4/git_repos.lst.in -text
