* text=auto !eol
projects/orbittools/README_EN.txt -text
projects/orbittools/__init__.bat -text
projects/orbittools/_projects/__init__.bat -text
projects/orbittools/_projects/bb~git~compare_commits.bat -text
projects/orbittools/_projects/bb~git~fetch.bat -text
projects/orbittools/_projects/bb~git~init.bat -text
projects/orbittools/_projects/bb~git~pull.bat -text
projects/orbittools/_projects/bb~git~push_svn_to_git.bat -text
projects/orbittools/_projects/bb~git~reset.bat -text
projects/orbittools/_projects/config.vars.in -text
projects/orbittools/_projects/config.yaml.in -text
projects/orbittools/_projects/configure.bat -text
projects/orbittools/_projects/gh~git~compare_commits.bat -text
projects/orbittools/_projects/gh~git~fetch.bat -text
projects/orbittools/_projects/gh~git~init.bat -text
projects/orbittools/_projects/gh~git~pull.bat -text
projects/orbittools/_projects/gh~git~push_svn_to_git.bat -text
projects/orbittools/_projects/gh~git~reset.bat -text
projects/orbittools/_projects/git_repos.lst.in -text
projects/orbittools/_projects/sf~svn~checkout.bat -text
projects/orbittools/_projects/sf~svn~relocate.bat -text
projects/orbittools/_projects/sf~svn~update.bat -text
projects/orbittools/config.vars.in -text
projects/orbittools/config.yaml.in -text
projects/orbittools/configure.bat -text
projects/orbittools/deploy/__init__.bat -text
projects/orbittools/deploy/bb~git~compare_commits.bat -text
projects/orbittools/deploy/bb~git~fetch.bat -text
projects/orbittools/deploy/bb~git~init.bat -text
projects/orbittools/deploy/bb~git~pull.bat -text
projects/orbittools/deploy/bb~git~push_svn_to_git.bat -text
projects/orbittools/deploy/bb~git~reset.bat -text
projects/orbittools/deploy/config.vars.in -text
projects/orbittools/deploy/config.yaml.in -text
projects/orbittools/deploy/configure.bat -text
projects/orbittools/deploy/gh~git~compare_commits.bat -text
projects/orbittools/deploy/gh~git~fetch.bat -text
projects/orbittools/deploy/gh~git~init.bat -text
projects/orbittools/deploy/gh~git~pull.bat -text
projects/orbittools/deploy/gh~git~push_svn_to_git.bat -text
projects/orbittools/deploy/gh~git~reset.bat -text
projects/orbittools/deploy/git_repos.lst.in -text
projects/orbittools/deploy/sf~svn~checkout.bat -text
projects/orbittools/deploy/sf~svn~relocate.bat -text
projects/orbittools/deploy/sf~svn~update.bat -text
projects/orbittools/orbittools/__init__.bat -text
projects/orbittools/orbittools/bb~git~compare_commits.bat -text
projects/orbittools/orbittools/bb~git~fetch.bat -text
projects/orbittools/orbittools/bb~git~init.bat -text
projects/orbittools/orbittools/bb~git~pull.bat -text
projects/orbittools/orbittools/bb~git~push_svn_to_git.bat -text
projects/orbittools/orbittools/bb~git~reset.bat -text
projects/orbittools/orbittools/config.vars.in -text
projects/orbittools/orbittools/config.yaml.in -text
projects/orbittools/orbittools/configure.bat -text
projects/orbittools/orbittools/gh~git~compare_commits.bat -text
projects/orbittools/orbittools/gh~git~fetch.bat -text
projects/orbittools/orbittools/gh~git~init.bat -text
projects/orbittools/orbittools/gh~git~pull.bat -text
projects/orbittools/orbittools/gh~git~push_svn_to_git.bat -text
projects/orbittools/orbittools/gh~git~reset.bat -text
projects/orbittools/orbittools/git_repos.lst.in -text
projects/orbittools/orbittools/gl~git~compare_commits.bat -text
projects/orbittools/orbittools/gl~git~fetch.bat -text
projects/orbittools/orbittools/gl~git~init.bat -text
projects/orbittools/orbittools/gl~git~pull.bat -text
projects/orbittools/orbittools/gl~git~push_svn_to_git.bat -text
projects/orbittools/orbittools/gl~git~reset.bat -text
projects/orbittools/orbittools/sf~svn~checkout.bat -text
projects/orbittools/orbittools/sf~svn~relocate.bat -text
projects/orbittools/orbittools/sf~svn~update.bat -text
projects/orbittools/qd/__init__.bat -text
projects/orbittools/qd/bb~git~compare_commits.bat -text
projects/orbittools/qd/bb~git~fetch.bat -text
projects/orbittools/qd/bb~git~init.bat -text
projects/orbittools/qd/bb~git~pull.bat -text
projects/orbittools/qd/bb~git~push_svn_to_git.bat -text
projects/orbittools/qd/bb~git~reset.bat -text
projects/orbittools/qd/config.vars.in -text
projects/orbittools/qd/config.yaml.in -text
projects/orbittools/qd/configure.bat -text
projects/orbittools/qd/gh~git~compare_commits.bat -text
projects/orbittools/qd/gh~git~fetch.bat -text
projects/orbittools/qd/gh~git~init.bat -text
projects/orbittools/qd/gh~git~pull.bat -text
projects/orbittools/qd/gh~git~push_svn_to_git.bat -text
projects/orbittools/qd/gh~git~reset.bat -text
projects/orbittools/qd/git_repos.lst.in -text
projects/orbittools/qd/gl~git~compare_commits.bat -text
projects/orbittools/qd/gl~git~fetch.bat -text
projects/orbittools/qd/gl~git~init.bat -text
projects/orbittools/qd/gl~git~pull.bat -text
projects/orbittools/qd/gl~git~push_svn_to_git.bat -text
projects/orbittools/qd/gl~git~reset.bat -text
projects/orbittools/qd/sf~svn~checkout.bat -text
projects/orbittools/qd/sf~svn~relocate.bat -text
projects/orbittools/qd/sf~svn~update.bat -text
projects/orbittools/sgp4/__init__.bat -text
projects/orbittools/sgp4/bb~git~compare_commits.bat -text
projects/orbittools/sgp4/bb~git~fetch.bat -text
projects/orbittools/sgp4/bb~git~init.bat -text
projects/orbittools/sgp4/bb~git~pull.bat -text
projects/orbittools/sgp4/bb~git~push_svn_to_git.bat -text
projects/orbittools/sgp4/bb~git~reset.bat -text
projects/orbittools/sgp4/config.vars.in -text
projects/orbittools/sgp4/config.yaml.in -text
projects/orbittools/sgp4/configure.bat -text
projects/orbittools/sgp4/gh~git~compare_commits.bat -text
projects/orbittools/sgp4/gh~git~fetch.bat -text
projects/orbittools/sgp4/gh~git~init.bat -text
projects/orbittools/sgp4/gh~git~pull.bat -text
projects/orbittools/sgp4/gh~git~push_svn_to_git.bat -text
projects/orbittools/sgp4/gh~git~reset.bat -text
projects/orbittools/sgp4/git_repos.lst.in -text
projects/orbittools/sgp4/gl~git~compare_commits.bat -text
projects/orbittools/sgp4/gl~git~fetch.bat -text
projects/orbittools/sgp4/gl~git~init.bat -text
projects/orbittools/sgp4/gl~git~pull.bat -text
projects/orbittools/sgp4/gl~git~push_svn_to_git.bat -text
projects/orbittools/sgp4/gl~git~reset.bat -text
projects/orbittools/sgp4/sf~svn~checkout.bat -text
projects/orbittools/sgp4/sf~svn~relocate.bat -text
projects/orbittools/sgp4/sf~svn~update.bat -text
