* text=auto !eol
projects/orbittools/README_EN.txt -text
projects/orbittools/configure.bat -text
projects/orbittools/deploy/bb~git_init.bat -text
projects/orbittools/deploy/bb~git_pull_all.bat -text
projects/orbittools/deploy/bb~git_reset_all.bat -text
projects/orbittools/deploy/bb~git~svn_fetch.bat -text
projects/orbittools/deploy/bb~git~svn_sync_all.bat -text
projects/orbittools/deploy/configure.bat -text
projects/orbittools/deploy/gh~git_init.bat -text
projects/orbittools/deploy/gh~git_pull_all.bat -text
projects/orbittools/deploy/gh~git_reset_all.bat -text
projects/orbittools/deploy/gh~git~svn_fetch.bat -text
projects/orbittools/deploy/gh~git~svn_sync_all.bat -text
projects/orbittools/deploy/sf~svn~checkout_all.bat -text
projects/orbittools/deploy/sf~svn~update_all.bat -text
projects/orbittools/orbittools/bb~git_init.bat -text
projects/orbittools/orbittools/bb~git_pull_all.bat -text
projects/orbittools/orbittools/bb~git_reset_all.bat -text
projects/orbittools/orbittools/bb~git~svn_fetch.bat -text
projects/orbittools/orbittools/bb~git~svn_sync_all.bat -text
projects/orbittools/orbittools/configure.bat -text
projects/orbittools/orbittools/gh~git_init.bat -text
projects/orbittools/orbittools/gh~git_pull_all.bat -text
projects/orbittools/orbittools/gh~git_reset_all.bat -text
projects/orbittools/orbittools/gh~git~svn_fetch.bat -text
projects/orbittools/orbittools/gh~git~svn_sync_all.bat -text
projects/orbittools/orbittools/gl~git_init.bat -text
projects/orbittools/orbittools/gl~git_pull_all.bat -text
projects/orbittools/orbittools/gl~git_reset_all.bat -text
projects/orbittools/orbittools/gl~git~svn_fetch.bat -text
projects/orbittools/orbittools/gl~git~svn_sync_all.bat -text
projects/orbittools/orbittools/sf~svn~checkout_all.bat -text
projects/orbittools/orbittools/sf~svn~update_all.bat -text
projects/orbittools/qd/bb~git_init.bat -text
projects/orbittools/qd/bb~git_pull_all.bat -text
projects/orbittools/qd/bb~git_reset_all.bat -text
projects/orbittools/qd/bb~git~svn_fetch.bat -text
projects/orbittools/qd/bb~git~svn_sync_all.bat -text
projects/orbittools/qd/configure.bat -text
projects/orbittools/qd/gh~git_init.bat -text
projects/orbittools/qd/gh~git_pull_all.bat -text
projects/orbittools/qd/gh~git_reset_all.bat -text
projects/orbittools/qd/gh~git~svn_fetch.bat -text
projects/orbittools/qd/gh~git~svn_sync_all.bat -text
projects/orbittools/qd/gl~git_init.bat -text
projects/orbittools/qd/gl~git_pull_all.bat -text
projects/orbittools/qd/gl~git_reset_all.bat -text
projects/orbittools/qd/gl~git~svn_fetch.bat -text
projects/orbittools/qd/gl~git~svn_sync_all.bat -text
projects/orbittools/qd/sf~svn~checkout_all.bat -text
projects/orbittools/qd/sf~svn~update_all.bat -text
projects/orbittools/sgp4/bb~git_init.bat -text
projects/orbittools/sgp4/bb~git_pull_all.bat -text
projects/orbittools/sgp4/bb~git_reset_all.bat -text
projects/orbittools/sgp4/bb~git~svn_fetch.bat -text
projects/orbittools/sgp4/bb~git~svn_sync_all.bat -text
projects/orbittools/sgp4/configure.bat -text
projects/orbittools/sgp4/gh~git_init.bat -text
projects/orbittools/sgp4/gh~git_pull_all.bat -text
projects/orbittools/sgp4/gh~git_reset_all.bat -text
projects/orbittools/sgp4/gh~git~svn_fetch.bat -text
projects/orbittools/sgp4/gh~git~svn_sync_all.bat -text
projects/orbittools/sgp4/gl~git_init.bat -text
projects/orbittools/sgp4/gl~git_pull_all.bat -text
projects/orbittools/sgp4/gl~git_reset_all.bat -text
projects/orbittools/sgp4/gl~git~svn_fetch.bat -text
projects/orbittools/sgp4/gl~git~svn_sync_all.bat -text
projects/orbittools/sgp4/sf~svn~checkout_all.bat -text
projects/orbittools/sgp4/sf~svn~update_all.bat -text
